Series/.vs/NumericSeries/v17/.suo
*.v2
/Blog/.vs
/AutoPago/.vs
/Series/.vs
/Notifications/.vs/OrderNotifications/CopilotIndices
/Notifications/.vs
/Blog/.vs
*.db
*.db-shm
*.db-wal
*.pdb
/Blog/.vs
Password/Auth/appsettings.json
Password/Password/appsettings.json
/Password/Auth/bin/Debug
/API/.vs
API/API/appsettings.json
API/API/appsettings.Development.json
API/API/obj/Debug/net8.0/apphost.exe
API/API/bin/Debug/net8.0/appsettings.json
