@{
    ViewData["Title"] = "Create Article";
}

<h1>Create Article</h1>
<form  asp-controller="Articles" asp-action="Create" method="post">
    <input type="text" name="Title" placeholder="Insert Article Title" />
    <input type="text" name="AuthorName" placeholder="Insert Username"/>
    <input type="email" name="AuthorEmail" placeholder="Insert Email"/>
    <br/>
    <textarea maxlength="100" cols="100" rows="50" name="Content" placeholder="Insert Article Content"></textarea>
    <button type="submit">Submit</button>
</form>
